<!--
Copy this file in the text area of https://www.drupal.org/node/3031924/edit
-->
Automatically hide an image field from the field display when embedded in the body text.

This module is designed to work with the <a href="/project/insert">insert</a> module. The insert module recommends to hide the image field completely from the display to avoid duplicate images on a node page. With this module you don’t have to remove the image field completely from the display. If an image is embedded in the body text this image gets automatically removed in the field display. Not embedded images are not touched by this module.

<h2>Configuration</h2>

Got to Structure » Content types » Node Type » Manage fields » Image Field

<code>admin/structure/types/manage/<node-type>/fields/<field-name></code>
